<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
</div>
<!--end::Wrapper-->
</div>
<!--end::Page-->
</div>
<!--end::App-->
<!--begin::Scrolltop-->
		<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
			
		</div>
		<!--end::Scrolltop-->
		
		<!--begin::Javascript-->
		<!--begin::Global Javascript Bundle(used by all pages)-->
		<script src="/plugins/global/plugins.bundle.js"></script>
		<script src="/js/scripts.bundle.js"></script>
		<!--end::Global Javascript Bundle-->
		<script src="/plugins/custom/datatables/datatables.bundle.js"></script>

		<!--begin::Vendors Javascript(used by this page)-->
		<script src="/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
		<script src="../../../cdn.amcharts.com/lib/5/index.js"></script>
		<script src="../../../cdn.amcharts.com/lib/5/xy.js"></script>
		<script src="../../../cdn.amcharts.com/lib/5/percent.js"></script>
		<script src="../../../cdn.amcharts.com/lib/5/radar.js"></script>
		<script src="../../../cdn.amcharts.com/lib/5/themes/Animated.js"></script>
		<script src="../../../cdn.amcharts.com/lib/5/map.js"></script>
		<script src="../../../cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
		<script src="../../../cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
		<script src="../../../cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
		<script src="../../../cdn.amcharts.com/lib/5/geodata/worldTimeZonesLow.js"></script>
		<script src="../../../cdn.amcharts.com/lib/5/geodata/worldTimeZoneAreasLow.js"></script>
		<!--end::Vendors Javascript-->
		<script src="/js/custom/apps/projects/project/project.js"></script>
		
		<!--begin::Custom Javascript(used by this page)-->
		<script src="/js/widgets.bundle.js"></script>
		<script src="/js/custom/widgets.js"></script>
		<script src="/js/custom/apps/chat/chat.js"></script>
		<script src="/js/custom/utilities/modals/upgrade-plan.js"></script>
		<script src="/js/custom/utilities/modals/create-app.js"></script>
		<script src="/js/custom/utilities/modals/new-target.js"></script>
		<script src="/js/custom/utilities/modals/users-search.js"></script>
	</body>
	<!--end::Body-->

</html>